<header class="searchbar">
    <h1 class="title">CATS FINDER</h1>
    <form class="form" submit="handleSubmit()">
        <select class="inputCatBreed">
            <option class="inputSelect" value="">select breed</option>
            <option class="inputBreed" value="breed1">breed1</option>
            <option class="inputBreed" value="breed2">breed2</option>
        </select>
        <button type="submit" class="button">
            <!-- find -->
            <!-- <img src="../../icons/loupe.png" class="loupeIcon" width="40" height="40" fill="grey" /> -->
        </button>
    </form>
</header>