<div class="gallery-conteiner" *ngIf="!galleryService.loading">
    <ul class="gallery" *ngIf="galleryService.gallery.length; else noGallery">
        <li class="galleryItem" *ngFor="let item of galleryService.gallery; let i = index">
            <!-- <img src={{item.url}} class="galleryItem__image" /> -->
            <img src={{item.url}} class="galleryItem__image" />
        </li>
    </ul>
    <button type="button" (click)="galleryAppear()" class="button">Load more</button>
</div>

<ng-template #noGallery>
    <p class="galleryMessage">No cats-images now!</p>
</ng-template>
<p *ngIf="galleryService.loading">Loading</p>