<div class="gallery-conteiner">
    {{response}}
    <ul class="gallery">
        <li class="galleryItem" click="onClickImage(largeImageURL)">
            {{response}}
        </li>
        <!-- <li class="galleryItem" click="onClickImage(largeImageURL)">
            <img src={webformatURL} alt="cat" class="galleryItem__image" />
        </li>
        <li class="galleryItem" click="onClickImage(largeImageURL)">
            <img src={webformatURL} alt="cat" class="galleryItem__image" />
        </li>
        <li class="galleryItem" click="onClickImage(largeImageURL)">
            <img src={webformatURL} alt="cat" class="galleryItem__image" />
        </li> -->
    </ul>
    <button type="button" click="galleryAppear()" class="button">Load more</button>
</div>