<div class="gallery-conteiner">
    <ul>
        <li click="onClickImage(largeImageURL)">
            <img src={webformatURL} alt="cat" />
        </li>
        <li click="onClickImage(largeImageURL)">
            <img src={webformatURL} alt="cat" />
        </li>
        <li click="onClickImage(largeImageURL)">
            <img src={webformatURL} alt="cat" />
        </li>
        <li click="onClickImage(largeImageURL)">
            <img src={webformatURL} alt="cat" />
        </li>
    </ul>
    <button type="button" click="galleryAppear()">Load more</button>
</div>